#driver-filter {
	width: 960px;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
	/* Replace height to dynamic later mayber */
	/* border:2px solid red;  */
	margin: auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.driver-filter {
    margin-left: 20px;
    margin-right: 20px;
}
.driver-filter {
    margin-left: 5px;
}

.driver-axis-x path{
  display: none;
}

.driver-axis-x text{
  display: none;
}

.driver-axis-y path {
  display: none;
}

.driver-axis-y text {
	font-family: Optima, Futura, sans-serif;
	font-weight: bold;
	font-size: 18px;
	fill: black;
}

.driver-legend text {
    fill: black;
    font-size: 15px;
    font-family: Optima, Futura, sans-serif;
}


.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
  margin-bottom:-4px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 15%;
}