#driver-filter {
	width: 960px;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
	/* Replace height to dynamic later mayber */
	/* border:2px solid red;  */
	margin: auto;
}

.driver-d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.driver-tool-tip-text {
  color: #ffffff;
}

/* Creates a small triangle extender for the tooltip */
.driver-d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.driver-d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.driver-filter {
    margin-left: 20px;
    margin-right: 20px;
}
.driver-filter {
    margin-left: 5px;
}

.driver-axis-x path{
  display: none;
}

.driver-axis-x text{
  display: none;
}

.driver-axis-y path {
  display: none;
}

.driver-axis-y text {
	font-family: Optima, Futura, sans-serif;
	font-weight: bold;
	font-size: 18px;
	fill: black;
}

.driver-legend text {
    fill: black;
    font-size: 15px;
    font-family: Optima, Futura, sans-serif;
}