#entry_filter {
	width: 960px;
    height: 50px; 
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
	/* Replace height to dynamic later mayber */
	/* border:2px solid red;  */
	margin: auto;
}

.entry_filter {
    margin-left: 20px;
    margin-right: 20px;
}
.entry_select {
    margin-left: 5px;
}

#entry_tip h4{
    margin:0;
    font-size:15px;
    margin-bottom: 5px;
}
#entry_tip {
    background: rgb(231, 226, 226);
    border:1px solid grey;
    border-radius:5px;
    font-size:13px;
    width:auto;
    padding:4px;
    color:rgb(39, 33, 33);
    opacity:0;
}

