*,
*::after,
*::before {
	box-sizing: border-box;
	/*font-family: 'Catamaran', sans-serif;*/
	color: #313339;
}

body footer {
	font-family: 'Catamaran', sans-serif;
	color: #1b3050;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 900;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  line-height: 2em;
  margin-top: 1em;

}

.background {
	fill: none;
	pointer-events: all;
}

body {
	padding-top: 60px
}

.states.active {
	fill:#EDE1BB;
}

.states.focused {
	fill: #F0CF81;
}
#state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 1.0px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.entry_bar {
	fill: #EDE1BB;
}
.entry_bar_active {
	fill: #F0CF81;
}

.frame {
	width: 960px;
	height: 500px; 
	/* Replace height to dynamic later mayber */
	/* border:2px solid red;  */
	margin: auto;
}

.google_fonts {
	font-family: 'Catamaran', sans-serif;
}

#entry {
	width: 960px;
	height: 550px;
	/* Replace height to dynamic later mayber */
	/* border:2px solid red;  */
	margin: auto;
}

.global_bar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.14);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.global_bar_content {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
}

#global_state_filter {
	margin-left: 10px;

}

#vehiclePart {
	background-color: #F5F5F5;
}

#driverSection {
	background: #EDEFF0;
}

.section_title {
	text-align: center;
}
.section_title_content {
	font-size: 30px;
	margin-top: 20px;
	font-family: 'Catamaran', sans-serif;
}

#site-footer {
    height: 50px;
    background: #EDEFF0;
}