#vehicleFilter {
	width: 960px;
    height: 50px; 
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
	/* Replace height to dynamic later mayber */
	/*border:2px solid red;  */
	margin: auto;
}

#vehicleFilterY {
	width: 960px;
    height: 20px; 
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: left;
    /* align-items: center; */
	/* Replace height to dynamic later mayber */
	/*border:2px solid red;  */
	margin: auto;
}

.vehicleFilterLogo {
	margin-right: 10px;
}

.vehicleSexFilter {
    margin-right: 10px;
}

.vehicleAgeFilter {
    margin-right: 40px;
}

.vehicleTypeFilter {
    margin-right: 10px;
}


